@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
  background-color: #060606;
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em auto;
  padding: 1em 2em;
  position: relative;
}
.header__wrapper__logo__img {
  width: 160px;
  margin-bottom: -10px;
}
.header__wrapper__menu {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 0em;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.header__wrapper__menu:hover {
  transition: 300ms ease-in-out;
  background-color: #2761af;
  border-color: #2761af;
}
.header__wrapper__nav {
  display: flex;
  align-items: center;
}
.header__wrapper__nav__link {
  color: #f6f6f6;
  font-size: 16px;
  padding: 0.5em 1em;
  text-decoration: none;
}
.header__wrapper__nav__link:hover {
  transition: 300ms ease-in-out;
  color: #ffffff;
}
.jumbotron {
  width: 100%;
  position: relative;
}
.jumbotron__img {
  width: 100%;
  min-height: 700px;
}
.jumbotron__wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
}
.jumbotron__wrapper__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  margin-top: 9em;
  padding: 2em;
}
.jumbotron__wrapper__content__heading {
  font-size: 34px;
  color: white;
  font-weight: 500;
}
.jumbotron__wrapper__content__sub__heading {
  font-size: 22px;
  color: white;
  font-weight: 500;
  margin: 0.5em 0em;
}
.jumbotron__wrapper__content__info {
  font-size: 16px;
  color: white;
  width: 50%;
  margin-bottom: 2em;
}
.jumbotron__wrapper__content__button {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 0.9em 2em;
  border: 1px solid #2761af;
  cursor: pointer;
  color: #2761af;
  font-size: 14px;
  font-weight: 500;
}
.jumbotron__wrapper__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: #2761af;
  color: #ffffff;
  border-color: #ffffff;
}

.contact__container__form__input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__form__input:first-child {
  margin-right: 1em;
}
.contact__container__form__input__label {
  font-size: 10px;
  color: #242424;
  position: absolute;
  top: -10px;
  left: 0px;
  display: none;
  background-color: #ffffff;
}
.contact__container__form__input__field {
  flex: 1;
  border: none;
  border-bottom: 1px solid #242424;
  min-height: 40px;
  background-color: transparent;
  color: #242424;
  outline: none;
}
.contact__container__form__input__field::placeholder {
  text-transform: capitalize;
}
.contact__container__form__input__field:hover,
.contact__container__form__input__field:focus {
  transition: 300ms ease-in-out;
  border-width: 2px;
}
.contact__container__form__input__field:focus::placeholder {
  color: transparent;
}
.contact__container__form__input__field:focus
  ~ .contact__container__form__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__container__form__input textarea {
  padding: 1em 0em;
  max-width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contact__container__form__heading {
  font-size: 25px;
  font-weight: 300;
  color: "#244570";
  margin-bottom: 0.5em;
}
.contact__container__form__heading span {
  font-weight: 600;
  color: "#244570";
}
.contact__container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__container__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}
.contact__container__content iframe {
  width: 50%;
  height: 100%;
  border: none;
}
.contact__container__form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 5em;
}
.contact__container__form__info {
  width: 70%;
  margin-bottom: 1em;
}
.contact__container__form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container__form__input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__form__input:first-child {
  margin-right: 1em;
}
.contact__container__form__input__label {
  font-size: 10px;
  color: #242424;
  position: absolute;
  top: -10px;
  left: 0px;
  display: none;
  background-color: #ffffff;
}
.contact__container__form__input__field {
  flex: 1;
  border: none;
  border-bottom: 1px solid#242424;
  min-height: 40px;
  background-color: transparent;
  color: #242424;
  outline: none;
}
.contact__container__form__input__field::placeholder {
  text-transform: capitalize;
}
.contact__container__form__input__field:hover,
.contact__container__form__input__field:focus {
  transition: 300ms ease-in-out;
  border-width: 2px;
}
.contact__container__form__input__field:focus::placeholder {
  color: transparent;
}
.contact__container__form__input__field:focus
  ~ .contact__container__form__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__container__form__input textarea {
  padding: 1em 0em;
  max-width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contact__container__form__button {
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, #2869bb, #244570);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0em;
  margin-left: auto;
  outline: none;
}
.contact__container__form__button:hover {
  transition: 400ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #244570, #6784aa);
}
.contact__container__form__content {
  display: flex;
  justify-content: space-between;
}
.contact__container__form__content__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact__container__form__content__col__heading {
  font-size: 14px;
  margin-bottom: 0.3em;
}
.contact__container__form__content__col__value {
  font-size: 12px;
  margin-bottom: 0.1em;
}
.contact__container__form__content__col__links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__container__form__content__col__link {
  width: 35px;
  height: 35px;
  background: linear-gradient(90deg, #020810, #18355e);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.contact__container__form__content__col__link:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.faq__section {
  width: 100%;
  height: fit-content;
  min-height: 80vh;
  position: relative;
  background: linear-gradient(rgb(255, 255, 255, 0), #dedede);
}
.faq__section__content {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq__section__content__img {
  position: absolute;
  bottom: 0px;
  width: 450px;
}
.faq__section__content__left {
  width: 45%;
}
.faq__section__content__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  overflow: hidden;
}
.faq__section__content__right__card__header {
  display: flex;
  border: none;
  outline: none;
  width: 100%;
  padding: 0px;
  background: transparent;
  font-size: 16px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  margin-top: 1.5em;
}
.faq__section__content__right__card__svg svg {
  width: 20px;
  height: 20px;
}
.faq__section__content__right__card__svg {
  width: 10%;
}
.faq__section__content__right__heading {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  align-self: flex-start;
  margin: 0.5em 0em;
}
.faq__section__content__right__card__heading {
  font-size: 16px;
  color: #000000;
  position: relative;
  text-align: start;
  font-weight: 600;
  min-width: none;
  width: 85%;
  margin-bottom: 0.2em;
}
.faq__section__content__right__card__border {
  width: 85%;
  height: 2px;
  background: #bdbbbb;
  align-self: flex-start;
}
.faq__section__content__right__card__para {
  font-size: 14px;
  color: #000000;
  margin: 0.5em 0em;
}
.grow__up__section {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  position: relative;
}
.grow__up__section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
}
.grow__up__section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grow__up__section__overlay__content {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grow__up__section__overlay__content__heading {
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
.grow__up__section__overlay__content__heading span {
  position: relative;
}
.grow__up__section__overlay__content__heading span::before {
  position: absolute;
  bottom: -4px;
  right: 70px;
  content: "";
  width: 50%;
  height: 6px;
  border-radius: 6px;
  background: linear-gradient(90deg, #f87756, #d25533);
  z-index: -1;
}
.grow__up__section__overlay__content__heading__center {
  position: relative;
  font-size: 38px;
  color: #ffffff;
  font-weight: 600;
}
.grow__up__section__overlay__content__heading__center::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 42%;
  height: 40px;
  background: linear-gradient(90deg, #f87756, #d25533);
  z-index: -1;
}
.supply__chain__section {
  width: 100%;
  height: 70vh;
  position: relative;
}
.supply__chain__section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.supply__chain__section__heading {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  padding: 1.3em;
}
.supply__chain__section__heading__img {
  width: 300px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.supply__chain__section__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.supply__chain__section__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
  padding: 4em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.supply__chain__section__content__img {
  width: 480px;
}
.supply__chain__section__content__right {
  width: 55%;
  display: flex;
  flex-direction: column;
}
.supply__chain__section__content__right__para {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 1em;
}
.digital__coverage__section {
  width: 100%;
  height: fit-content;
  min-height: 70vh;
}
.digital__coverage__section__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 10em 2em;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.digital__coverage__section__content__img {
  width: 650px;
}
.digital__coverage__section__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.digital__coverage__section__content__left__heading {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: 600;
}
.digital__coverage__section__content__left__card {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.digital__coverage__section__content__left__card__no {
  font-size: 18px;
  font-weight: 600;
  color: #8e8e8e;
}
.digital__coverage__section__content__left__card__heading {
  font-size: 16px;
  font-weight: 600;
  color: #f3974a;
  margin: 0.2em 0em;
}
.digital__coverage__section__content__left__card__para {
  font-size: 16px;
  color: #000000;
}
.software__capabilities__section {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background: linear-gradient(rgb(255, 255, 255, 0), #e3e4e6);
}
.software__capabilities__section__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.software__capabilities__section__content__img {
  width: 500px;
}
.software__capabilities__section__content__right {
  width: 50%;
}
.software__capabilities__section__content__right__heading {
  font-size: 30px;
  color: #000000;
  font-weight: 600;
}
.software__capabilities__section__content__right__para {
  font-size: 16px;
  color: #000000;
  margin: 0.6em 0em;
  width: 80%;
  padding: 2em 0em;
}
.software__capabilities__section__content__card {
  width: 22%;
  height: 250px;
  background: linear-gradient(#ff8160, #d64923);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2em;
  font-size: 19px;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  color: #ffffff;
  cursor: pointer;
  margin-bottom: -5em;
}
.software__capabilities__section__content__card:hover {
  transform: scale(1.07);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  transition: 300ms ease-in-out;
}
.software__capabilities__section__content__card:nth-child(2) {
  background: linear-gradient(#5ebad9, #2f5d6d);
}
.software__capabilities__section__content__card:nth-child(3) {
  background: linear-gradient(#53bfae, #00977e);
}
.software__capabilities__section__content__card:nth-child(4) {
  background: linear-gradient(#074a91, #00356e);
}
.software__capabilities__section__content__card svg {
  margin-bottom: 1em;
  width: 70px;
  height: 70px;
}
.software__capabilities__section__content__cards__wrapper {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  margin: 0px auto;
  padding: 0em 2em;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.fulfulling__partner__section {
  width: 100%;
  height: 60vh;
  position: relative;
}
.fulfulling__partner__section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fulfulling__partner__section__content__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fulfulling__partner__section__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fulfulling__partner__section__content__left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fulfulling__partner__section__content__left__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.fulfulling__partner__section__content__left__img {
  width: 400px;
}
.fulfulling__partner__section__content__right__card {
  margin-top: 4em;
}
.fulfulling__partner__section__content__right__no {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.fulfulling__partner__section__content__right__heading {
  font-size: 16px;
  font-weight: 600;
  color: #f3974a;
}
.fulfulling__partner__section__content__right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.fulfulling__partner__section__content__right__para {
  font-size: 16px;
  color: #ffffff;
  margin: 0.5em 0em;
}
.what__we__enable {
  width: 100%;
  background-color: #ffffff;
}
.what__we__enable__wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 1.5em;
}
.what__we__enable__header {
  width: fit-content;
  padding: 1.2em 2.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
}
.what__we__enable__header__sub__heading {
  color: #2761af;
  font-size: 14px;
  margin-bottom: 0.2em;
}
.what__we__enable__header__heading {
  color: #242424;
  font-size: 16px;
  font-weight: bold;
}
.what__we__enable__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.what__we__enable__content__left {
  width: 70%;
}
.what__we__enable__content__left img {
  width: 100%;
}
.what__we__enable__content__right {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.what__we__enable__content__right__heading {
  font-size: 20px;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column;
}
.what__we__enable__content__right__heading span {
  font-weight: bold;
}
.what__we__enable__content__right__info {
  font-size: 14px;
}
.simplify__operation__section {
  width: 100%;
  height: fit-content;
  min-height: 60vh;
  background: linear-gradient(rgb(255, 255, 255, 0), #e1e1e1);
}
.simplify__operation__section__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.simplify__operation__section__content__left {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.simplify__operation__section__content__left__heading {
  font-size: 30px;
  color: #000000;
  display: flex;
  flex-direction: column;
}
.simplify__operation__section__content__left__heading span {
  font-weight: 600;
}
.simplify__operation__section__content__left__para {
  font-size: 16px;
  color: #000000;
  margin: 0.7em 0em;
  width: 90%;
}
.simplify__operation__section__content__img {
  width: 500px;
}
.fed__up__logistics__section {
  width: 100%;
  height: 55vh;
  position: relative;
}
.fed__up__logistics__section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fed__up__logistics__section__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fed__up__logistics__section__overlay__content {
  width: 100%;
  max-width: 1440px;
  height: fit-content;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
}
.fed__up__logistics__section__overlay__content__left {
  width: 40%;
  color: #ffffff;
}
.fed__up__logistics__section__overlay__content__left__sub__heading {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.fed__up__logistics__section__overlay__content__left__heading {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  font-weight: 600;
  margin: 0.2em 0em;
  position: relative;
  text-transform: capitalize;
}
.fed__up__logistics__section__overlay__content__left__heading::after {
  position: absolute;
  left: 0px;
  bottom: -8px;
  content: "";
  width: 40%;
  height: 5px;
  border-radius: 5px;
  background: #2761af;
}
.fed__up__logistics__section__overlay__content__left__para {
  font-size: 16px;
  color: #ffffff;
  margin-top: 2em;
}
.fed__up__logistics__section__overlay__content__img {
  position: absolute;
  top: -40px;
  right: 0px;
  width: 750px;
}
@media (max-width: 1440px) {
  .fed__up__logistics__section__overlay__content__img {
    width: 600px;
  }
}
@media (max-width: 1250px) {
  .contact__container {
    height: fit-content;
  }
  .contact__container__content {
    flex-direction: column-reverse;
  }
  .contact__container__form {
    width: 100%;
    height: 700px;
  }
  .contact__container__content iframe {
    width: 100%;
    height: 700px;
  }
  .faq__section__content__img {
    width: 350px;
  }
  .faq__section__content__left {
    width: 40%;
  }
  .digital__coverage__section__content__img {
    width: 450px;
  }
  .software__capabilities__section__content__img {
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .fed__up__logistics__section__overlay__content__img {
    display: none;
  }
  .fed__up__logistics__section__overlay__content__left {
    width: 100%;
  }
  .simplify__operation__section__content__img {
    width: 300px;
  }
  .simplify__operation__section__content {
    flex-direction: column;
  }
  .simplify__operation__section__content__left {
    width: 100%;
    margin-bottom: 3em;
  }
  .simplify__operation__section__content__left__para {
    width: 100%;
  }
  .fulfulling__partner__section__content {
    flex-direction: column;
  }
  .fulfulling__partner__section__content__right {
    width: 100%;
  }
  .software__capabilities__section__content__card {
    width: 48%;
    margin-bottom: 2em;
  }
  .software__capabilities__section__content {
    flex-direction: column;
  }
  .software__capabilities__section__content__right {
    width: 100%;
    margin-top: 4em;
  }
  .software__capabilities__section__content__right__para {
    width: 100%;
  }
  .digital__coverage__section__content {
    flex-direction: column;
  }
  .digital__coverage__section__content__left {
    width: 100%;
    margin-bottom: 2em;
  }
  .digital__coverage__section__content__left__card {
    width: 100%;
  }
  .supply__chain__section__content {
    flex-direction: column;
  }
  .supply__chain__section {
    height: 100vh;
  }
  .supply__chain__section__content__img {
    width: 300px !important;
  }
  .supply__chain__section__content__right {
    width: 100%;
    margin-top: 3em;
  }
  .faq__section__content {
    flex-direction: column;
  }
  .faq__section__content__img {
    position: relative;
  }
  .faq__section__content__left {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .what__we__enable__content {
    flex-direction: column;
  }
  .what__we__enable__content__left {
    width: 100%;
    margin-bottom: 1em;
  }
  .what__we__enable__content__right {
    width: 100%;
    height: fit-content;
  }
  .fulfulling__partner__section__content__left__img {
    width: 300px;
  }
  .header__wrapper__menu {
    display: flex;
  }
  .header__wrapper__nav {
    position: absolute;
    left: 0px;
    top: 65px;
    width: 100%;
    padding: 1em;
    background-color: #060606;
    flex-direction: column;
  }
  .fulfulling__partner__section__content__left__heading {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .fed__up__logistics__section__overlay__content__left__heading {
    font-size: 24px;
  }
  .fulfulling__partner__section {
    height: 80vh;
  }
  .software__capabilities__section__content__card {
    width: 100%;
  }
  .software__capabilities__section__content__img {
    width: 300px;
  }
  .supply__chain__section__heading__img {
    width: 200px;
  }
  .supply__chain__section__heading {
    font-size: 18px;
    margin-top: 0.7em;
  }
  .supply__chain__section__content__img {
    margin-top: 3em;
  }
  .supply__chain__section {
    height: 1100px !important;
  }
  .grow__up__section__overlay__content__heading,
  .grow__up__section__overlay__content__heading__center {
    font-size: 22px;
    line-height: 36px;
  }
  .grow__up__section__overlay__content__heading__center::after {
    height: 32px;
  }
  .faq__section__content__img {
    width: 250px;
    margin-left: 3em;
  }
  .contact__container__form {
    width: 100%;
  }
  .contact__container__form__input {
    width: 100%;
  }
  .contact__container__form__input:first-child {
    margin-right: 0em;
  }
  .contact__container__form {
    height: fit-content;
    padding: 3em 0em;
  }
  .contact__container__form__row {
    flex-direction: column;
  }
  .contact__container__form__input {
    width: 100%;
  }
  .contact__container__form__input:first-child {
    margin-right: 0em;
  }
  .contact__container__form__content {
    flex-direction: column;
  }
  .contact__container__form__content__col {
    margin-bottom: 1em;
  }
  .contact__container__form__content__col__links {
    width: 50%;
    margin-top: 0.3em;
  }
  .contact__container__content {
    padding: 1em;
  }
  .digital__coverage__section__content__img {
    width: 300px;
    margin: 2em 0em;
  }
}
