@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
  background-color: #060606;
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0em auto;
  padding: 1em 2em;
  position: relative;
}
.header__wrapper__logo__img {
  width: 100px;
  margin-bottom: -10px;
}
.header__wrapper__menu {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding: 0em;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}
.header__wrapper__menu:hover {
  transition: 300ms ease-in-out;
  background-color: #2761af;
  border-color: #2761af;
}
.header__wrapper__nav {
  display: flex;
  align-items: center;
}
.header__wrapper__nav__link {
  color: #f6f6f6;
  font-size: 16px;
  padding: 0.5em 1em;
  text-decoration: none;
}
.header__wrapper__nav__link:hover {
  transition: 300ms ease-in-out;
  color: #ffffff;
}
.jumbotron {
  width: 100%;
  position: relative;
}
.jumbotron__img {
  width: 100%;
  min-height: 700px;
}
.jumbotron__wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
}
.jumbotron__wrapper__content {
  width: 100%;
  max-width: 1440px;
  margin: 0em auto;
  margin-top: 9em;
  padding: 2em;
}
.jumbotron__wrapper__content__heading {
  font-size: 34px;
  color: white;
  font-weight: 500;
}
.jumbotron__wrapper__content__sub__heading {
  font-size: 22px;
  color: white;
  font-weight: 500;
  margin: 0.5em 0em;
}
.jumbotron__wrapper__content__info {
  font-size: 16px;
  color: white;
  width: 50%;
  margin-bottom: 2em;
}
.jumbotron__wrapper__content__button {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 0.9em 2em;
  border: 1px solid #2761af;
  cursor: pointer;
  color: #2761af;
  font-size: 14px;
  font-weight: 500;
}
.jumbotron__wrapper__content__button:hover {
  transition: 300ms ease-in-out;
  background-color: #2761af;
  color: #ffffff;
  border-color: #ffffff;
}

.contact__container__form__input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__form__input:first-child {
  margin-right: 1em;
}
.contact__container__form__input__label {
  font-size: 10px;
  color: #242424;
  position: absolute;
  top: -10px;
  left: 0px;
  display: none;
  background-color: #ffffff;
}
.contact__container__form__input__field {
  flex: 1;
  border: none;
  border-bottom: 1px solid #242424;
  min-height: 40px;
  background-color: transparent;
  color: #242424;
  outline: none;
}
.contact__container__form__input__field::placeholder {
  text-transform: capitalize;
}
.contact__container__form__input__field:hover,
.contact__container__form__input__field:focus {
  transition: 300ms ease-in-out;
  border-width: 2px;
}
.contact__container__form__input__field:focus::placeholder {
  color: transparent;
}
.contact__container__form__input__field:focus
  ~ .contact__container__form__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__container__form__input textarea {
  padding: 1em 0em;
  max-width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contact__container__form__heading {
  font-size: 25px;
  font-weight: 300;
  color: "#244570";
  margin-bottom: 0.5em;
}
.contact__container__form__heading span {
  font-weight: 600;
  color: "#244570";
}
.contact__container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}

.contact__container__content {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}
.contact__container__content iframe {
  width: 50%;
  height: 90%;
  border: none;
}
.contact__container__form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em 5em;
}
.contact__container__form__info {
  width: 70%;
  margin-bottom: 1em;
}
.contact__container__form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container__form__input {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  margin-bottom: 1em;
}
.contact__container__form__input:first-child {
  margin-right: 1em;
}
.contact__container__form__input__label {
  font-size: 10px;
  color: #242424;
  position: absolute;
  top: -10px;
  left: 0px;
  display: none;
  background-color: #ffffff;
}
.contact__container__form__input__field {
  flex: 1;
  border: none;
  border-bottom: 1px solid#242424;
  min-height: 40px;
  background-color: transparent;
  color: #242424;
  outline: none;
}
.contact__container__form__input__field::placeholder {
  text-transform: capitalize;
}
.contact__container__form__input__field:hover,
.contact__container__form__input__field:focus {
  transition: 300ms ease-in-out;
  border-width: 2px;
}
.contact__container__form__input__field:focus::placeholder {
  color: transparent;
}
.contact__container__form__input__field:focus
  ~ .contact__container__form__input__label {
  transition: 300ms ease-in-out;
  display: flex;
}
.contact__container__form__input textarea {
  padding: 1em 0em;
  max-width: 100%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contact__container__form__button {
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, #2869bb, #244570);
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin: 1em 0em;
  margin-left: auto;
  outline: none;
}
.contact__container__form__button:hover {
  transition: 400ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #244570, #6784aa);
}
.contact__container__form__content {
  display: flex;
  justify-content: space-between;
}
.contact__container__form__content__col {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact__container__form__content__col__heading {
  font-size: 14px;
  margin-bottom: 0.3em;
}
.contact__container__form__content__col__value {
  font-size: 12px;
  margin-bottom: 0.1em;
}
.contact__container__form__content__col__links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__container__form__content__col__link {
  width: 35px;
  height: 35px;
  background: linear-gradient(90deg, #020810, #18355e);
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.contact__container__form__content__col__link:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1250px) {
  .contact__container {
    height: fit-content;
  }
  .contact__container__content {
    flex-direction: column-reverse;
  }
  .contact__container__form {
    width: 100%;
    height: 700px;
  }
  .contact__container__content iframe {
    width: 100%;
    height: 700px;
  }
}
@media (max-width: 700px) {
  .header__wrapper__menu {
    display: flex;
  }
  .header__wrapper__nav {
    position: absolute;
    left: 0px;
    top: 65px;
    width: 100%;
    padding: 1em;
    background-color: #060606;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .contact__container__form__input {
    width: 100%;
  }
  .contact__container__form__input:first-child {
    margin-right: 0em;
  }
  .contact__container__form {
    height: fit-content;
    padding: 3em 2em;
  }
  .contact__container__form__row {
    flex-direction: column;
  }
  .contact__container__form__input {
    width: 100%;
  }
  .contact__container__form__input:first-child {
    margin-right: 0em;
  }
  .contact__container__form__content {
    flex-direction: column;
  }
  .contact__container__form__content__col {
    margin-bottom: 1em;
  }
  .contact__container__form__content__col__links {
    width: 50%;
    margin-top: 0.3em;
  }
}
